Komang Jaya Bhaskara Mahatya - 1103181031

WEEK 1 HOMEWORK - HOUSE PRICING PREDICTION WITH DECISION TREE

In [2]:
import pandas as pd
# Reading and Loading the dataset
iowa_file_path = '/content/drive/MyDrive/Colab Notebooks/Machine Learning with Mr. Risman Adnan/Week 1/iowa_house_price.csv'

home_data = pd.read_csv(iowa_file_path)

In [3]:
# Print the summary of the dataset
home_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [4]:
# Kaggle Challenge

# What is the average lot size (rounded to nearest integer)?
avg_lot_size = 10517

# As of today, how old is the newest home (current year - the date in which it was built)
newest_home_age = 12

Think About Your Data

The newest house in your data isn't that new. A few potential explanations for this:

1. They haven't built new houses where this data was collected.
2. The data was collected a long time ago. Houses built after the data publication wouldn't show up.

If the reason is explanation #1 above, does that affect your trust in the model you build with this data? What about if it is reason #2?

**I think that if explanation #1 is true and assuming the dataset is up to date, the model will not be affected as the data is simply... up to date. Conversely, if explanation #2 is true, the model will be affected due to obsolete data.**

In [5]:
# In kaggle example, there are missing values. We can ignore those by simply dropping the column in the dataset. Here's how:

# melbourne_data = melbourne_data.dropna(axis=0) # dropna drops missing values (think of na as "not available")

In [6]:
# Printing all columns in the dataset
home_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [7]:
# Defining target feature
y = home_data.SalePrice

# Defining features that is used in prediction
iowa_features = ['LotArea', 'YearBuilt']
X = home_data[iowa_features]

In [8]:
from sklearn.tree import DecisionTreeRegressor

# In-sample Prediction using predefined features
iowa_model= DecisionTreeRegressor(random_state=1)
iowa_model.fit(X, y)
predictions = iowa_model.predict(X)
print(predictions)

[196750. 184250. 223500. ... 266500. 142125. 147500.]

In [9]:
# In-sample Prediction for the first 5 entries
head_predictions = iowa_model.predict(X.head())
print(head_predictions)

[196750. 184250. 223500. 140000. 250000.]

In [10]:
# Calculating the Mean Absolute Error (MAE)
from sklearn.metrics import mean_absolute_error

mean_absolute_error(y, predictions)

986.04200913242

In [11]:
from sklearn.model_selection import train_test_split

# Out-of-sample prediction by splitting the training set and testing set
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=0)

iowa_model = DecisionTreeRegressor()
iowa_model.fit(train_X, train_y)

val_predictions = iowa_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

48447.20639269407

In [12]:
# Defining a function that will return a specific MAE based on Regressor Input
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [13]:
# Feeding the previous fungcion with different max_leaf_nodes value to see which value will return the lowest MAE
for max_leaf_nodes in [2, 3, 4, 5, 10, 15, 20, 30,  50, 100, 150, 200, 300, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 2  		 Mean Absolute Error:  45933
Max leaf nodes: 3  		 Mean Absolute Error:  41455
Max leaf nodes: 4  		 Mean Absolute Error:  38326
Max leaf nodes: 5  		 Mean Absolute Error:  38675
Max leaf nodes: 10  		 Mean Absolute Error:  38872
Max leaf nodes: 15  		 Mean Absolute Error:  41970
Max leaf nodes: 20  		 Mean Absolute Error:  42546
Max leaf nodes: 30  		 Mean Absolute Error:  42467
Max leaf nodes: 50  		 Mean Absolute Error:  41585
Max leaf nodes: 100  		 Mean Absolute Error:  41953
Max leaf nodes: 150  		 Mean Absolute Error:  42465
Max leaf nodes: 200  		 Mean Absolute Error:  43281
Max leaf nodes: 300  		 Mean Absolute Error:  44786
Max leaf nodes: 500  		 Mean Absolute Error:  47114
Max leaf nodes: 5000  		 Mean Absolute Error:  48571

RANDOM FOREST

In [15]:
# Doing prediction using Random Forest Regressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
preds_val = forest_model.predict(val_X)
print(mean_absolute_error(val_y, preds_val))

38707.605156582766